[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
personal_assistant_pkg = { Version = "*", path = "/Users/marinavakulenko/Documents/Github/project/package" }

[dev-packages]

[requires]
python_version = "3.11"
